body {
  background-color: #201D1D;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  color: #ebebeb;
}

.login-or-register {
  border-radius: 10%;
  background-color: #404264;
  padding: 10px 20px;
  border: 1px #201D1D solid;
  color: #ebebeb;
}

.title {
  width: 30%;
  cursor: pointer;
}

.record {
  margin: 20px;
  top: 515px;
  left: 420px;
  width: 125px;
  height: 40px;
  position: fixed;
  display: inline-block;
  background: none;    
  border: none;
  outline:none !important;
  transform: skewX(-63deg);
  z-index: 100;
}

.admin {
  border: 1px solid #404264;
  background-color: #404264;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 235, 235);
}

.admin-modal {
  overflow-y: auto;
  margin: none;
  margin-top: -17px;
}

.table {
  color: #ebebeb;
  font-size: 15px;
  margin-bottom: 0px;
}

.fa-trash-o {
  color: #ebebeb;
}

.fa-trash-o:hover {
  color: #201D1D;
}

.manga-poster {
  left: 550px;
  top: 185px;
  width: 200px;
  height: 270px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  outline:none !important;
  border: none;
  z-index: 100;
}

.manga-poster:hover, .login-or-register:hover, .record:hover {
  border: white 2px solid;
}

.container {
  display: grid;
  margin: 0px;
  grid-template-columns: repeat(8, 170px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.manga-selection {
  border: solid #839FC3 1px;
  background-color: #839FC3;
  border-radius: 5%;
  outline:none !important;
  padding: 10px;
  padding-bottom: 0px;
  flex-direction: column;
}

.manga-selection:hover {
  border: solid #EBEBEB 1px;
}

.covers {
  width: 148px;
  height: 240px;
  background-color: #ebebeb;
  border-radius: 5%;
  /* #201D1D */
  /* #404264 */
  /* #839FC3 */
  /* #EBEBEB */
}

.scratch-card {
  cursor: url("https://i.ibb.co/bF1c927/coin.png") 60 60, auto;
}

.ScratchCard__Canvas {
  border-radius: 5%;
  left: 0px;
}

.modal-cover {
  width: 200px;
  height: 300px;
  border-radius: 5%;
}

.titles {
  margin: 5px;
  font-size: 80%;
}

.modal-content {
  background-color: #839FC3;
  height: 500px;
  display: flex;
  top: 75px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-header {
  justify-content: center;
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.LR-modal-button {
  background-color: #EBEBEB;
  border-radius: 10%;
  padding: 5px 10px;
  color:#404264;
}


.modal-button {
  background-color: #EBEBEB;
  border-radius: 10px;
  padding: 2px 3%;
  color:#404264;
  font-size: 20px;
  width: 300px;
  margin: 10px;
}

.answer-button {
  background-color: #EBEBEB;
  border-radius: 25px;
  padding: 3%;
  color:#404264;
  font-size: 20px;
  width: 300px;
  margin: 10px;
}

.login-height {
  height: 300px;
}

.register-height {
  height: 450px;
}

.error-height {
  height: 180px;
}

.manga-modal {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 0px;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 50px;
}

.manga-description {
  height: 180px;
  overflow-y: scroll;
}

::-webkit-scrollbar { 
  display: none;
}

.manga-info {
  padding-left: 40px;
}

.quiz {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-modal {
  color: #EBEBEB;
  border: 1px solid #404264;
  background-color: #404264;
}

.user-modal-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

path {
  stroke-linecap: round;
}

.ex {
  stroke: red;
  stroke-width: 1.5;
}

.checks {
  stroke:currentColor;
  stroke-width: 2;
  fill: none;
  stroke: green;
  stroke-linejoin: round;
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 0.25s forwards 0.25s;
}

@keyframes draw { 
  to { stroke-dashoffset: 0 } 
}

.pw-requirements {
  text-align: right;
  font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=text], input[type=password], input[type=email] {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.116);
  border-radius:5px;
  outline: none;
  height: 35px;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 2px solid #ebebeb;
  animation: hover-effect;
  animation-duration: 1s;
}

@keyframes hover-effect {
  from {box-shadow: 0 0 15px 4px #839FC3}
  to {box-shadow: 0 0 15px 4px #839FC3;}
}

input:focus {
  border: 2px solid #ebebeb;
  box-shadow: 0 0 15px 4px #839FC3;
}

.fa-eye {
  margin-left: 7px;
}

.fa-eye:hover {
  color: red;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100vw;
    max-height: 100vh;
  }
  #canvas {
    width: 100%;
    z-index: 1;
  }
}