body {
  background-color: #201D1D;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  color: #ebebeb;
}

.login-or-register {
  border-radius: 10%;
  background-color: #404264;
  padding: 10px 20px;
  border: 1px #201D1D solid;
  color: #ebebeb;
}

.title {
  width: 30%;
  cursor: pointer;
}

.manga-poster {
  left: 550px;
  top: 185px;
  width: 200px;
  height: 270px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  outline:none !important;
  border: black 0px solid;
  z-index: 100;
}

.manga-poster:hover, .login-or-register:hover {
  border: white 1px solid;
}

.container {
  display: grid;
  margin: 0px;
  grid-template-columns: repeat(8, 170px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.manga-selection {
  border: solid #839FC3 1px;
  background-color: #839FC3;
  border-radius: 5%;
  outline:none !important;
  padding: 10px;
  padding-bottom: 0px;
  flex-direction: column;
}

.manga-selection:hover {
  border: solid #EBEBEB 1px;
}

.covers {
  width: 148px;
  height: 240px;
  background-color: #ebebeb;
  border-radius: 5%;
}

.modal-cover {
  width: 200px;
  height: 300px;
  border-radius: 5%;
}

.titles {
  margin: 5px;
  font-size: 80%;
}

.modal-content {
  background-color: #839FC3;
  height: 500px;
  display: flex;
  top: 75px;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-header {
  justify-content: center;
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.modal-button {
  background-color: #EBEBEB;
  border-radius: 10%;
  padding: 2%;
  color:#404264;
}

.manga-modal {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 0px;
  align-items: flex-start;
  margin: 0px 50px;
}

.manga-description {
  height: 180px;
  overflow-y: scroll;
}

::-webkit-scrollbar { 
  display: none;
}

.manga-info {
  padding-left: 40px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100vw;
    max-height: 100vh;
  }
}