body {
  background-color: #201D1D;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: grid;
  margin: 0px;
  grid-template-columns: repeat(8, 170px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.manga-selection {
  border: solid #839FC3 1px;
  background-color: #839FC3;
  border-radius: 5%;
  outline:none !important;
  padding: 10px;
  padding-bottom: 0px;
  flex-direction: column;
}

.manga-selection:hover {
  border: solid #EBEBEB 1px;
}

.covers {
  width: 148px;
  height: 240px;
  background-color: #ebebeb;
  border-radius: 5%;
}

.titles {
  margin: 5px;
  font-size: 80%;
}